/*
    
    Name: style.css
    Description: General stylesheet that contains all the formatting and components
    Author: Alisson Eduardo Bagnara

*/


@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;800&display=swap');



html, body {
    padding: 0px;
    margin: 0px;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: inherit;
}



.container {
    max-width: 1170px;
    margin: 0px auto;
}



.jumbotron {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 50px 0px;
    position: relative;
}

.jumbotron .title {
    margin: 0px 0px 25px;
    font-weight: 800;
    font-size: 100px;
}

.jumbotron .description {
    font-weight: 100;
    margin: 0px;
    font-size: 25px;
}



.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}



.social {
    list-style: none;
    padding: 0px;
    margin: 0px 0px;
}

.social li {
    display: inline-block;
}

.social li a {
    font-size: 20px;
    width: 25px;
    transition: 0.25s;
    padding: 5px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}



#container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}



.fa-facebook:hover {
    color: #3B5998;
}
  
.fa-twitter:hover {
    color: #55ACEE;
}
  
.fa-google:hover {
    color: #dd4b39;
}
  
.fa-linkedin:hover {
    color: #007bb5;
}
  
.fa-youtube:hover {
    color: #bb0000;
}

.fa-instagram:hover {
    color: #125688;
}

.fa-pinterest:hover {
    color: #cb2027;
}

.fa-snapchat-ghost:hover {
    color: #fffc00;
}

.fa-skype:hover {
    color: #00aff0;
}

.fa-android:hover {
    color: #a4c639;
}

.fa-dribbble:hover {
    color: #ea4c89;
}

.fa-vimeo:hover {
    color: #45bbff;
}

.fa-tumblr:hover {
    color: #2c4762;
}

.fa-vine:hover {
    color: #00b489;
}

.fa-foursquare:hover {
    color: #45bbff;
}

.fa-stumbleupon:hover {
    color: #eb4924;
}

.fa-flickr:hover {
    color: #f40083;
}

.fa-yahoo:hover {
    color: #430297;
}

.fa-soundcloud:hover {
    color: #ff5500;
}

.fa-reddit:hover {
    color: #ff5700;
}

.fa-rss:hover {
    color: #ff6600;
}