/*
    
    Name: style.css
    Description: General stylesheet that contains all the formatting and components
    Author: Alisson Eduardo Bagnara

*/


@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;800&display=swap');



html, body {
    background-color: #eff7e1;
    margin: 0px;
    color: #214151;
    height: 100%;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}



.container {
    max-width: 1170px;
    margin: 0px auto;
}



.jumbotron {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 50px 0px;
    position: relative;
}

.jumbotron .title {
    margin: 0px 0px 25px;
    font-weight: 800;
    font-size: 100px;
}

.jumbotron .description {
    font-weight: 100;
    margin: 0px;
    font-size: 25px;
}



.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}



.social {
    list-style: none;
    padding: 0px;
    margin: 0px 0px;
}

.social li {
    display: inline-block;
}

.social li a {
    font-size: 20px;
    width: 25px;
    transition: 0.25s;
    padding: 5px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    position: relative;
    top: 0px;
}

.social li a:hover {
    top: -5px;
}



#container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}